<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <div>
    <h2>Información</h2>
    <p>gutierrezjean484&#64;gmail.com</p>
    <p>rolandotatis0&#64;gmail.com</p>

    <h2>Versión de la Aplicación</h2>
    <p>1.0.0</p>

    <h2>Librerías Utilizadas</h2>
      <p>Angular</p>
      <p>Ionic</p>
      <!-- Agrega otras librerías utilizadas -->
    <h2>Aplicaciones Utilizadas</h2>
      <p>Visual Studio Code</p>
      <p>Node.js</p>
      <!-- Agrega otras aplicaciones utilizadas -->
    
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <p>Todos los derechos reservados © 2023</p>
  </ion-toolbar>
</ion-footer>