<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list class="ion-text-center">
    <ion-card *ngFor="let auto of autos">
      <!-- Muestra las imagenes, nombre y descripcion en orden -->
      <ion-card-header>
        <ion-card-title>{{ auto.nombre }}</ion-card-title>
        <ion-img class="detalle-image" [src]="auto.imagen" alt="{{ auto.nombre }}"></ion-img>
      </ion-card-header>
      <ion-card-content class="text-box">
        <p>{{ auto.descripcion }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>